.sourceSans {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
}

.Cantarell-Regular{
  /*font-family: Cantarell-Regular;*/
  font-family: 'Cantarell', sans-serif;
}

@font-face {
   font-family: 'LinBiolinum_R';
   src: url('/LinBiolinum_R.otf')
}

.LinBiolinum_R{
  font-family: LinBiolinum_R;
}

@font-face {
   font-family: 'LinBiolinum_RB';
   src: url('/LinBiolinum_RB.otf')
}

.LinBiolinum_RB{
  font-family: LinBiolinum_RB;
}

@font-face {
   font-family: 'LinBiolinum_RI';
   src: url('/LinBiolinum_RI.otf')
}

.LinBiolinum_RI{
  font-family: LinBiolinum_RI;
}

.text-10{
  font-size: 10px;
}
.text-12{
  font-size: 12px;
}
.text-14{
  font-size: 14px;
}
.text-15{
  font-size: 15px;
}
.text-16{
  font-size: 16px;
}
.text-17{
  font-size: 17px;
}
.text-18{
  font-size: 18px;
}
.text-8{
  font-size: 8px;
}
.text-7{
  font-size: 7px;
}
.text-20{
  font-size: 20px;
}
.text-22{
  font-size: 22px;
}
.text-26{
  font-size: 26px;
}
.text-32{
  font-size: 32px;
}
.text-36{
  font-size: 36px;
}
.text-48{
  font-size: 48px;
}
