.darkTheme {
    --body-bg: #222222;
    --selection: #858585;
    --text: #ffffff;
    --blocks-bg: #494947;
    --navbar-bg: #494947;
    --navbar-txt: #fff;
    --footer-bg: #272725;
    --navBar-hover: #6B6B68;
    --navBar-active: #3b3b39;
    --light-text: #B5B5B0;
    --trLink-text: #ffffff;
    --trLink-bg: #ffffff22;
    --trLink-bg-hover: #ffffff22;
    --trLink-bg-active: #00000022;
    --flagBallOpacity: .6;
    --flagBallOpacityHover: 1;
}

.lightTheme {
    --body-bg: #ffffff;
    --selection: #acacac;
    --text: #222222;
    --blocks-bg: #e6e6e6;
    --navbar-bg: #7e7e7b;
    --navbar-txt: #fff;
    --footer-bg: #272725;
    --navBar-hover: #6B6B68;
    --navBar-active: #3b3b39;
    --light-text: #626262;
    --trLink-text: #303847;
    --trLink-bg: #d6d6d650;
    --trLink-bg-hover: #cccccc6c;
    --trLink-bg-active: #00000057;
    --flagBallOpacity: .9;
    --flagBallOpacityHover: .5;
}

body {
    background-color: var(--body-bg);
}

::selection {
    background-color: var(--selection);
}

* {
    color: var(--text);
    padding: 0%;
    margin: 0%;
    font-family: Nunito;
}

div.Front {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 100;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

div.trContent {
    width: 1600px;
    transition: .5s;
    
}

.trContentContainer {
    display: flex;
    justify-content: center;
}

div.trHeaderBox {
    display: flex;
    width: 100%;
    flex-wrap: nowrap;
}

.trHeaderBox > div {
    /*border: 1px solid white;*/
    display: flex;
    align-items: center;
}

img.trLogo {
    /*width: 33%;*/
    height: 100px;
    margin-left: -15px;
    transition: .5s;
}

.trHeaderText {
    margin-left: 20px;
    margin-right: 20px;
}

.trGreenButton {
    background-color: #1DBF73;
    /*position: sticky;*/
}

.trGreenButton > * {
    color: #ffffff;
}

.trGreenButton:hover {
    background-color: #79ddab;
}

.trGreenButton:active {
    background-color: #137f4b;
    
}

.trButtonA {
    text-decoration: none;
    border-radius: 6px;
    margin: 12px;
    padding: 15px;
    transition: .2s;
}

.trButtonA:active {
    padding-top: 19px;
    padding-bottom: 11px;
    box-shadow: 0px 10px 30px #000000cc inset;
}

.trBlueButton {
    background-color: #1d7ebf;
}

.trBlueButton > * {
    color: #ffffff;
    text-decoration: none;
}

.trBlueButton:hover {
    background-color: #79a1dd;
}

.trBlueButton:active {
    background-color: #13397f;
    box-shadow: 0px 10px 30px #000000cc inset;
}

div.footer {
    background-color: var(--footer-bg);
}

.trNavBar {
    display: flex;
    flex-wrap: nowrap;
    height: 50px;
    border-radius: 10px;
    padding-right: 10px;
    padding-left: 10px;
    background-color: var(--navbar-bg);
    margin: 10px;
    transition: .5s;
}

.trNavBar > a {
    height: 100%;
    background-color: var(--navbar-bg);
    padding-left: 12px;
    padding-right: 12px;
    flex-grow: 1;
    line-height: 50px;
    text-align: center;
    transition: .2s;
    text-decoration: none;
}

.trNavBar > a:hover {
    background-color: var(--navBar-hover);
}

.trNavBar > a:active {
    background-color: var(--navBar-active);
}

.trNavBar > a > span {
    color: var(--navbar-txt);
}

.trContainer {
    margin: 10px;
    padding: 20px;
}

.center {
    text-align: center;
}

.trIllustration {
    align-self: center;
    width: 30%;
}

.tr3Flags{
    margin-top: 40px;
    width: 60%;
    display: flex;
    margin-left: 20%;
    flex-wrap: nowrap;
    transition: .5s;
}

.tr3Flags > div {
    overflow: hidden;
}

.flagBall{
    opacity: var(--flagBallOpacity);
    width: 100%;
    transition: 2s;
}

.flagBall:hover {
    transform: rotate(10deg);
    opacity: var(--flagBallOpacityHover);
}

ul.trCheckList {
    margin-top: 10px;
    margin-left: 40px;
    padding: 5px;
    list-style-type: none;
}

ul.trCheckList > li {
    margin: .2em;
    font-size: 1.3em;
}

.lightGrey {
    color: var(--light-text);
}

a.trLink {
    color: var(--trLink-text);
    text-decoration: none;
    transition: .4s;
    background-color: var(--trLink-bg);
}

a.trLink:hover {
    background-color: var(--trLink-bg-hover);
    text-decoration: underline;
}

a.trLink:active {
    background-color: var(--trLink-bg-active);
}

.black {
    color: #000;
}

.trPortfolioFlex {
    margin-top: 10px;
    display: flex;
    width: 100%;
    flex-wrap: nowrap;
    height: 400px;
    overflow: hidden;
    transition: .2s;
}

.trPortfolioElement {
    width: 25%;
    overflow: hidden;
    padding: 20px;
    perspective: 100px;
}

.trPortfolioImg {
    position: relative;
    height: 100%;
    transition: .1s;
    cursor: pointer;
    object-fit: contain;
    opacity: var(--flagBallOpacity);
}

.trPortfolioImg:hover {
    opacity: var(--flagBallOpacityHover);
}

.trPortfolioImg:active {
    transform: scale(0.9);
}

.trFormFlex {
    display: flex;
    margin: 14px;
}

.trFormLabel {
    line-height: 40px;
    width: 150px;
}

.trFormElement {
    width: 100%;
}

.trFormElement > input {
    width: 100%;
}

.trInput {
    height: 36px;
    transition: .3s;
    border-radius: 5px;
    border-width: 0px;
    padding: 2px;
    resize: vertical;
    overflow: scroll;
    transition: none;
}

.trInput > option {
    color: black;
}

.trInput:focus {
    box-shadow: 0px 0px 7px 0px rgb(153, 205, 229);
}

.trFormSubmit {
    border-radius: 7px;
    background-color: #6b6b6b;
    width: 120px;
    height: 50px;
    border: #555555 solid 0px;
    border-bottom-width: 5px;
    cursor: pointer;
    transition: .2s;
    color: #fff;
}

.trFormSubmit:hover {
    background-color: #868686;
    border-color: #555555;
}

.trFormSubmit:active {
    border-color: #303030;
    background-color: #181818;
    margin-top: 4px;
    border-bottom-width: 1px;
    height: 46px;
}

h1 {
    font-size: 44px;
}

.colorBox {
    background-color: var(--blocks-bg);
    border-radius: 20px;
}

.coverall {
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 100%;
    width: 100%;
    background-color: #000000bb;
    z-index: 1000;
    display: none;
    align-items: center;
    justify-content: center;
}

.langSelect {
    display: none;
    padding: 40px;
    transform: scale(1);
    animation-name: dialogOpen;
    animation-duration: .2s;
    animation-timing-function: ease-out;
}

@keyframes dialogOpen {
    0% {transform: scale(.8);}
    100% {transform: scale(1);}
}

.langSelectList {
    display: flex;
    flex-direction: column;
}

.langSelectList > a {
    margin: 10px;
    text-decoration: none;
    border-radius: 6px;
    padding: 20px;
    transition: .2s;
    color: var(--text);
}

.langSelectList > a:hover {
    background-color: var(--selection);
}

.langSelectList > a:active {
    padding-top: 25px;
    padding-bottom: 15px;
    box-shadow: 0px 10px 30px #000000cc inset;
    background-color: var(--selection);
}

.picViewer {
    display: none;
}

@media screen and (max-width: 1600px){
    div.trContent {
        margin-left: 0%;
        width: 100%;
    }
    
    .trPortfolioFlex {
        height: 300px;
    }
}

@media screen and (max-width: 1060px){
    img.trLogo {
        /*width: 33%;*/
        height: 50px;
        margin-left: -5px;
    }

    .trPortfolioFlex {
        height: 200px;
    }

    .tr3Flags{
        width: 100%;
        margin-left: 0px;
    }

    .trButtonA {
        border-radius: 4px;
        margin: 10px;
        padding: 6px;
    }
    
    .trButtonA:active {
        padding-top: 7px;
        padding-bottom: 5px;
    }

    .trNavBar {
        height: 36px;
    }
    
    .trNavBar > a {
        line-height: 36px;
    }
}

@media screen and (max-width: 750px){
    .trHeaderText {
        display: none;
    }
}