* {
    margin: 0;
    padding: 0;
}

body {
    overflow: hidden;
    height: 100vh;
}

canvas#c {
    background-color: #333;
}

div.config {
    position: absolute;
    top: 2em;
    right: 2em;
    background-color: whitesmoke;
    border: 1px solid grey;
    padding: .5em;
}

div.config > * {
    user-select: none;
    font-size: 1em;
}